<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    {{#each events}}
      <div class="item" style="min-height: 300px;">
        Visit this section to find slides, videos and any other material
        after our meetups.
      </div>
      <div class="item">
        <h3>{{on}}</h3>
        <h4>@ {{location}}</h4>
        <ul>
          {{#each talks}}
            <li>
              <a href="{{link}}">"{{title}}"</a>
              by 
              {{#if at}}
                <a href="https://twitter.com/{{at}}">{{name}}</a>
              {{else}}
                {{name}}
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>
</div>
